<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Organizer</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>
    var gridLocaleText = {
      noRowsToShow: '<%= gettext("No Rows To Show") %>',
      page: '<%= gettext("Page") %>',
      more: '<%= gettext("More") %>',
      to: '<%= gettext("To") %>',
      of: '<%= gettext("Of") %>',
      next: '<%= gettext("Next") %>',
      last: '<%= gettext("Last") %>',
      first: '<%= gettext("First") %>',
      previous: '<%= gettext("Previous") %>',
      loadingOoo: '<%= gettext("Loading...") %>',
      selectAll: '<%= gettext("Select All") %>',
      searchOoo: '<%= gettext("Search...") %>',
      blanks: '<%= gettext("*Blank*") %>',
      filterOoo: '<%= gettext("Filter...") %>',
      applyFilter: '<%= gettext("Apply Filter...") %>',
      equals: '<%= gettext("Equals") %>',
      lessThan: '<%= gettext("Less Than") %>',
      greaterThan: '<%= gettext("Greater Than") %>',
      contains: '<%= gettext("Contains") %>',
      startsWith: '<%= gettext("Starts with") %>',
      endsWith: '<%= gettext("Ends with") %>',
      columns: '<%= gettext("Columns") %>',
      rowGroupColumns: '<%= gettext("Pivot Cols") %>',
      rowGroupColumnsEmptyMessage: '<%= gettext("Please drag cols to here") %>',
      valueColumns: '<%= gettext("Value Cols") %>',
      valueColumnsEmptyMessage: '<%= gettext("Please drag cols to here") %>'
    };
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-left">
            <li style="font-family:PT Sans Narrow; font-size:24px" class="pull-left">
              <%= link gettext("Organizer"), to: dashboard_path(@conn, :index), style: "padding: 1px" %>
            </li>
          </ul>
          <ul class="nav nav-pills pull-right">
          <%= if @session do %>
            <li><%= link gettext("Dashboard"), to: dashboard_path(@conn, :index), class: "btn btn-info btn-lg" %></li>
            <li><%= link gettext("Clients"), to: client_path(@conn, :index), class: "btn btn-info btn-lg" %></li>
            <li><%= link @session.name, to: user_path(@conn, :show, %{id: @session.id}), class: "btn btn-default btn-lg" %></li>
            <li>
              <a href="<%= session_path(@conn, :logout) %>" class="btn btn-danger btn-lg">
                <i class="zmdi zmdi-close"></i>
                <%= gettext("Close session") %>
              </a>
            </li>
          <% else %>
            <li><a href="register"><%= gettext("Register now!") %></a></li>
          <% end %>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" id="_main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
