<h2>Show alerts</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @alert.description %>
  </li>

  <li>
    <strong>Due date:</strong>
    <%= @alert.due_date %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @alert.notes %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @alert.status %>
  </li>

</ul>

<%= link "Edit", to: alert_path(@conn, :edit, @alert) %>
<%= link "Back", to: alert_path(@conn, :index) %>
