<%= if !@session do %>
<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Organizer" %></h2>
  <%= link gettext("Register now!"), to: register_path(@conn, :index), class: "btn btn-primary btn-lg" %>
</div>
<% else %>
<div class="jumbotron">
  <%= link gettext("Clients"), to: client_path(@conn, :index), class: "btn btn-success btn-lg" %>
</div>
<% end %>
